.user-welcome{
  margin-bottom: 2rem;
}
.borrowed-book{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;
  width: 50%;
}
.borrowed-book-status{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.emoji{
 font-size: 7rem;
}
#book-status-show{
  text-align: center;
  font-size: 2rem;
  
}
.queue-btn{
  border-radius: 1rem;
  border: none;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  padding: .5rem 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color:black ;
  margin-top: 2rem;
}
.queue-btn:hover{
  background-color:rgb(236, 233, 230) ;
  color: #000;
}