@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root{
  font-size: 62.5%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif; 
}
body{
  background-color: #f5f5f5;
}
.header{
  padding: 2rem 3rem;
}
.logo{
  font-weight: 700;
}
.nav-bar{
display: flex;
align-items: center;
justify-content: space-between;
font-size: 1.6rem;
color: #000000;
font-weight: 500;
}
.service-list{
list-style: none;
}
.service-list li a{
  text-decoration: none;
  padding: .5rem 1.5rem;
  border-bottom: 0.2rem solid #ccc;
  border-radius: 4rem;
  color: #000000;
  margin-top: 1rem;
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
}
.main-body{
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 3.5rem;
  padding: 2rem 1.5rem;
}
.welcome-message{
  margin: 2rem 1.5rem;
}
.user-welcome{
  font-size: 3.5rem;
  font-weight: 500;
}
.user-name{
  color: rgb(255, 47, 20);
}
.intro-text{
  font-size: 2rem;
  font-weight: 450;
}
.intro-parag{
  font-size: 1.6rem;
}
footer{
 
  bottom: 2rem;
}
footer p{
  position: absolute;
  text-align: center;
  bottom: 2rem;
  left: 42%;
  font-size: 1.5rem;
}
form .input-box label.details{
  display: block;
  font-weight: 500;
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
}
.user-details .input-box input{
  height: 4rem;
  width: 150%;
  margin-top: 2rem;
  outline: none;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  padding-left: 1.5rem;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #000000;
}
form .button input, .catagory-button{
  border-radius: 2rem;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color:black ;
  margin-top: 3rem;
}
.search-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more{
  background-color:rgb(221, 41, 41) ;
}
.catagory{
  margin-top: 2rem;
  font-size: 2rem;
}