@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root{
  font-size: 62.5%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif; 
}
body{
  background-color: #f5f5f5;
  padding-bottom: 2rem;
}
.header{
  padding: 2rem 3rem;
}
.logo{
  font-weight: 700;
}
.profile-info{
  display: flex;
  align-items: center;
  gap:2rem;
}
.profile-info .person-name{
  font-size: 2rem;
}
.profile-cartoon{
 width: 5rem;
}
img.cartoon{
  width: 100%;
  border-radius: 50%;
}

.nav-bar{
display: flex;
align-items: center;
justify-content: space-between;
font-size: 1.6rem;
color: #000000;
font-weight: 500;
}
.service-list{
list-style: none;
}
.service-list li a{
  text-decoration: none;
  padding: .5rem 1.5rem;
  border-bottom: 0.2rem solid #ccc;
  border-radius: 4rem;
  color: #000000;
  margin-top: 1rem;
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
}
.main-body{
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 3.5rem;
  padding: 2rem 1.5rem;
}
.welcome-message{
  margin: 2rem 1.5rem;
}
.user-welcome{
  font-size: 3.5rem;
  font-weight: 500;
}
.user-name{
  color: rgb(255, 47, 20);
}
.intro-text{
  font-size: 2rem;
  font-weight: 450;
}
.intro-parag{
  font-size: 1.6rem;
}
footer{
  margin-top: 2rem;
  position: fixed;
  bottom: 0;
  left: 42%;
  
}
footer p{
  text-align: center;
  font-size: 1.5rem;
}
