@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  height: 100vh;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container{
  background-color: #fff;
  padding: 2.5rem 1.5rem;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.25);
  width: 100%;
}
.container .title{
  font-size: 2.7rem;
  font-weight: 500;
  position: relative;
  margin-bottom: 1.5rem;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: calc(100%/4);
  border-radius: 5px;
  background-color: #161212;
}

.content form .user-details{
  display: flex;
  flex-direction: column;
  margin: 2rem 0 1.2rem 0;
}
form .user-details .input-box{
  margin-bottom: 1.5rem;
}
form .input-box label.details{
  display: block;
  font-weight: 500;
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
}
.user-details .input-box input{
  height: 4rem;
  width: 100%;
  outline: none;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  padding-left: 1.5rem;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #000000;
}
form .button input{
  border-radius: 1rem;
  border: none;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color:black ;
}
form .button input:hover{
 background-color:rgb(60, 59, 58) ;
 }
 .register-link, a{
  margin-top: 2rem;
  font-size: 2rem;
  text-decoration: none;
  color: #dd1818;
 }
 .error-message{
  margin-top: 2rem;
 }